<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Meetup Swatches</title>

	<style type="text/css">
		body {
			font-family: helvetica, arial, sans-serif;
			font-size: 14px;
			background-color: rgb(231, 231, 231);
			padding: 16px;
			color: #666;
		}
		h1 {
			color: #222;
			font-size: 32px;
		}
		h3 {
			color: #444;
			font-size: 20px;
			margin: 32px 0 0 0;
			display: block;
			padding-top: 8px;
			border-top: 1px solid #bbb;
		}
		.resetList {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		#swatches {
			margin-left: -4px;
		}
		.swatch {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 220px;
			height: 288px;
			background: #fff;
			box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.33);
			box-sizing: border-box;
			border-bottom: 3px solid rgb(226,55,60);
			margin: 12px 2px;
		}
		.swatch-checker {
			width: 100%;
			height: 200px;
		}
		.swatch-color {
			width: 100%;
			height: 100%;
		}
		.swatch-description {
			padding: 8px;
		}
		.swatch-name {
			color: #000;
			font-weight: bold;
			word-break: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
		}
		.swatch-rgba,
		.swatch-alpha {
			font-size: 11px;
			position: absolute;
			bottom: 8px;
		}
		.swatch-rgba {
			left: 8px;
		}
		.swatch-alpha {
			right: 8px;
		}
	</style>
</head>

<body>
	<h1>Meetup Swatches</h1>
	<p>
		When using the <strong>Sass</strong> distribution, prepend <code>$C_</code> to color names. For example, "blue" becomes <code>$C_blue</code>. 
		For text colors in Sass, you should consider using mixins, like <code>@include color_textSecondary()</code>. See <a target="_blank" href="https://github.com/meetup/meetup-swatches/blob/master/sass/colors.scss">Sass output</a> for more details.
	</p>

	<% @color_types.each do |type_key, type| %>

		<h3><%= type["name"] %> (<%= type["comment"] %>)</h3>
		<ul id="swatches" class="resetList">
			<% type["colors"].each do |c_key, c| %>
				<li class="swatch">
					<div class="swatch-checker" style="background: url('./checker-bg.png');">
						<div class="swatch-color" style="background: rgba(<%=c[0]%>, <%=c[1]%>, <%=c[2]%>, <%=c[3]%>);"></div>
					</div>
					<div class="swatch-description">
						<div class="swatch-name"><%=c_key%></div>
						<ul class="resetList swatch-rgba">
							<li>R: <%=c[0]%></li>
							<li>G: <%=c[1]%></li>
							<li>B: <%=c[2]%></li>
						</ul>
						<div class="swatch-alpha">A: <%=c[3]%></div>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>

</body>
</html>
